.box{
    height: 100px;
    width: 100px;
    background-color:yellow;
    color:royalblue;
    line-height: 100px;
    font-size: 25px;
    text-align: center;
}
.radius{
    border-radius: 50%;
}
.border{
    border: 5px solid red;
}