  <div class="card-deck container pt-5">
    <div class="card">
      <img class="card-img-top" src="assets/card1.jpg" alt="Card image cap" height="50%" width="50%">
      <div class="card-body">
        <h5 class="card-title">JULIA THORN</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident molestiae,
         harum aliquid aperiam itaque suscipit dolorum dolor, alias quia omnis nostrum illo blanditiis temporibus porro,
          consequuntur quas odit sunt delectus.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/card2.jpg" alt="Card image cap" height="50%" width="50%">
      <div class="card-body">
        <h5 class="card-title">MARATHA DAVID</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident molestiae,
         harum aliquid aperiam itaque suscipit dolorum dolor, alias quia omnis nostrum illo blanditiis temporibus porro,
          consequuntur quas odit sunt delectus.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/card3.jpg" alt="Card image cap" height="50%" width="50%">
      <div class="card-body">
        <h5 class="card-title">LAURA CHEDD</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident molestiae,
         harum aliquid aperiam itaque suscipit dolorum dolor, alias quia omnis nostrum illo blanditiis temporibus porro,
          consequuntur quas odit sunt delectus.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  