<p>nav works!</p>
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="send_page('home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="send_page('about')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="send_page('contactus')">Contactus</a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contactus</a>
        </li>
      </ul> -->

    </nav>
  
