// .box{
//     height: 100px;
//     width: 100px;
//     margin: 10px;
//     float: left;
// }
// .border{
//     border: 5 px solid black;
// }
// .color{
//     color: white;
// }
// .box2{
//     padding: 50px;
//     float: left;
//     margin: 5px;
// }
// .eventbox{
//     height: 100px;
//     width: 100px;
//     margin: 10px;
//     text-align: center;
//     padding-left: 10px;
// }

.img_div{
    height: 100px;
    width: 100%;
    background-color:rgb(230, 230, 230);
}
.btndiv{
    margin-left: 800px;
    margin-top: -50px;
}
.btn{
    color:white;
    background-color: black;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}